.vscode

#ts/js
node_modules
out
index.js
index.js.map
index.ts
tsconfig.json

#rust
src/main.rs
src/rust/mod.rs
target
Cargo.lock
Cargo.toml
rustfmt.toml

#config
config
.prettierignore
.prettierrc
package.json
package-lock.json

